@import "mdc-ripple/_variables";
@import "mdc-theme/_variables";

$mdc-checkbox-mark-color: mdc-theme-prop-value(on-primary) !default;
$mdc-checkbox-border-color: rgba(
  mdc-theme-prop-value(on-surface),
  0.54
) !default;
$mdc-checkbox-disabled-color: rgba(
  mdc-theme-prop-value(on-surface),
  0.26
) !default;
$mdc-checkbox-baseline-theme-color: secondary !default;

$mdc-checkbox-size: 18px !default;
