@mixin mdc-rtl-reflexive-box(
  $base-property,
  $default-direction,
  $value,
  $root-selector: null
) {
  @if (index((right, left), $default-direction) == null) {
    @error "Invalid default direction: '#{$default-direction}'. Please specify either 'right' or 'left'.";
  }

  $left-value: $value;
  $right-value: 0;

  @if ($default-direction == right) {
    $left-value: 0;
    $right-value: $value;
  }

  @include mdc-rtl-reflexive-property(
    $base-property,
    $left-value,
    $right-value,
    $root-selector
  );
}

@mixin mdc-rtl-reflexive-property(
  $base-property,
  $left-value,
  $right-value,
  $root-selector: null
) {
  $prop-left: #{$base-property}-left;
  $prop-right: #{$base-property}-right;
}
