@import "mdc-feature-targeting/_mixins";
@import "mdc-feature-targeting/_functions";
@import "./variables";

@mixin mdc-ripple-core-styles($query: mdc-feature-all()) {
}

@mixin mdc-ripple-common($query: mdc-feature-all()) {
}

@mixin mdc-ripple-surface($query: mdc-feature-all()) {
  $feat-animation: mdc-feature-create-target($query, animation);
  $feat-structure: mdc-feature-create-target($query, structure);

  @include mdc-feature-targets($feat-structure) {
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 0;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &::before,
  &::after {
    @include mdc-feature-targets($feat-structure) {
      position: absolute;
      border-radius: 50%;
      opacity: 0;
      pointer-events: none;
      content: "";
    }
  }

  &::before {
    @include mdc-feature-targets($feat-animation) {
      transition: opacity $mdc-states-wash-duration linear,
        background-color $mdc-states-wash-duration linear;
    }

    @include mdc-feature-targets($feat-structure) {
      z-index: 1;
    }
  }
}

@mixin mdc-states-base-color($color, $query: mdc-feature-all()) {
}

@mixin mdc-states-hover-opacity($opacity, $query: mdc-feature-all()) {
}

@mixin mdc-states-focus-opacity(
  $opacity,
  $has-nested-focusable-element: false,
  $query: mdc-feature-all()
) {
}

@mixin mdc-states-press-opacity($opacity, $query: mdc-feature-all()) {
}

@mixin mdc-states(
  $color: mdc-theme-prop-value(on-surface),
  $has-nested-focusable-element: false,
  $query: mdc-feature-all()
) {
}

@mixin mdc-states-activated(
  $color,
  $has-nested-focusable-element: false,
  $query: mdc-feature-all()
) {
}

@mixin mdc-states-selected(
  $color,
  $has-nested-focusable-element: false,
  $query: mdc-feature-all()
) {
}

@mixin mdc-ripple-radius-bounded($radius: 100%, $query: mdc-feature-all()) {
}

@mixin mdc-ripple-radius-unbounded($radius: 100%, $query: mdc-feature-all()) {
}

@mixin mdc-states-interactions_(
  $color,
  $has-nested-focusable-element,
  $opacity-modifier: 0,
  $query: mdc-feature-all()
) {
}
