@import "mdc-feature-targeting/_mixins";
@import "mdc-feature-targeting/_functions";
@import "mdc-theme/_functions";
@import "mdc-theme/_mixins";
@import "./variables";

@mixin mdc-button-core-styles($query: mdc-feature-all()) {
  @include mdc-button-without-ripple($query);
  @include mdc-button-ripple($query);
}

@mixin mdc-button-without-ripple($query: mdc-feature-all()) {
  $feat-color: mdc-feature-create-target($query, color);
  .mdc-button {
    @include mdc-button-base_($query);
    @include mdc-button-shape-radius(small, $query: $query);
    @include mdc-button-container-fill-color(transparent, $query);

    .mdc-button__icon {
      // @include mdc-feat
    }
  }
}

@mixin mdc-button-ripple($query: mdc-feature-all()) {
}

@mixin mdc-button-filled-accessible(
  $container-fill-color,
  $query: mdc-feature-all()
) {
}

@mixin mdc-button-container-fill-color($color, $query: mdc-feature-all()) {
  $feat-color: mdc-feature-create-target($query, color);

  &:not(:disabled) {
    @include mdc-feature-targets($feat-color) {
    }
  }
}

@mixin mdc-button-outline-color($color, $query: mdc-feature-all()) {
}

@mixin mdc-button-icon-color($color, $query: mdc-feature-all()) {
}

@mixin mdc-button-ink-color($color, $query: mdc-feature-all()) {
}

@mixin mdc-button-shape-radius(
  $radius,
  $rtl-reflexive: false,
  $query: mdc-feature-all()
) {
}

@mixin mdc-button-horizontal-padding($padding, $query: mdc-feature-all()) {
  $feat-structure: mdc-feature-create-target($query, structure);

  @include mdc-feature-targets($feat-structure) {
    padding: 0 $padding 0 $padding;
  }
}

@mixin mdc-button-outline-width(
  $outline-width,
  $padding: $mdc-button-contained-horizontal-padding,
  $query: mdc-query-all()
) {
}

@mixin mdc-button-base_($query) {
  $feat-color: mdc-feature-create-target($query, color);
  $feat-structure: mdc-feature-create-target($query, structure);

  @include mdc-feature-targets($feat-structure) {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    height: $mdc-button-height;
    border: none;
    outline: none;
    line-height: inherit;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
  }

  &::-moz-focus-inner {
    @include mdc-feature-targets($feat-structure) {
      padding: 0;
      border: 0;
    }
  }
}

@mixin mdc-button__icon_ {
}

@mixin mdc-button__icon-trailing_ {
}

@mixin mdc-button__icon-svg_ {
}

@mixin mdc-button__icon-contained_ {
}

@mixin mdc-button__icon-contained-trailing_ {
}

@mixin mdc-button--outlined_($qury) {
}

@mixin mdc-button--filled_($query) {
}

@mixin mdc-button--rainsed_($query) {
}

@mixin mdc-button--dense_() {
  height: 20px;
}
